<header>
  <div fxLayout='row' fxLayoutAlign='center center'>
<mat-toolbar  color="primary">
  <span>NewsApp</span>
  <span class="fill-remaining-space"></span>
  <span>
    <button mat-button  (click)="getSavedArticles()">
      Saved Articles
    </button>
  </span>
    <span>
    <button mat-button (click)='goToDashboard()'>
      Home
    </button>
    </span>
    <span>
    <button mat-button  (click)='goToRegister()'>
      Register
    </button>
    </span>
  <span>
    <button mat-button  (click)='goToLogin()'>
       Login
      </button>
  </span>
</mat-toolbar>
</div>
</header>
<body>
<router-outlet></router-outlet>
</body>
