/* input{
    width: 100%;
} */
/* h1{
    background-color: #F5F5F5
} */
#example-full-width {
    width: 95%;
  }
textarea{
margin-top:1% 
  }
  hr{
      width: 100%;
      border: 2px solid #F0F0F0;
  }
  #headingDialog,h3{
      margin-bottom: 0;
  }